.homelogo
{
    height: 400px;
    width: 400px;
}

.logo-container
{
    display: flex;
    justify-content: center
}

.homepage-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: clamp(2.25rem,4vw,8rem)
}